@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Merriweather:900");

.header {
  background-color: #d6463c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

.align-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.dark-red {
  background-color: #b63c33;
  height: 8px;
}

.darker-red {
  background-color: #79261f;
  height: 3px;
}

.header-title {
  width: 350px;
}

.hello-user {
  font: 400 1rem system-ui;
  color: white;
}

.logo {
  color: #b63c33;
}

.logout-btn {
  background-color: #b63c33;
  border: 0;
  border-radius: 3px;
  font: 600 1rem system-ui;
  color: #79261f;
}

.logout-btn:hover {
  background-color: #aa382f;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  color: white;
}

p {
  font: 100 11px system-ui;
  color: black;
  letter-spacing: 2px;
  color: white;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  font: 600 1rem system-ui;
}

.header-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  width: 200px;
}

@media only screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .header-title {
    flex-direction: column;
  }

  h2 {
    line-height: 0;
  }

  p {
    display: none;
  }

  .header-nav {
    padding-bottom: 0.5rem;
  }
}
